<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=BFyK2PYF1nxcxDgEuXzwSitphdA4gUX4RZ6p2wGWqPU&cl=ffffff&w=a"></script>
  </body>
</html>
